<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hannah's Geburtstag</title>
    <!-- Google Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="birthday.css" />
  </head>
  <body>
    <div class="card">
      <div class="outside">
        <div class="front">
          <p>Alles gute zum Geburtstag!</p>
        </div>
        <div class="back"></div>
      </div>
      <div class="inside">
        <p>auch wenn ich diese Tage gerade gerne mit dir verbringen würden könnte,
           wünsche ich dir von ganzem Herzen einen wundervollen Tag. Ich hoffe all der Kaffe und Kuchen mit der Family war nicht zu stressig, und du hast dannach schon ein kleines Nickerchen machen können. </p>
        <h1>&#127873;</h1>
      </div>
    </div>
  </body>
</html>
