<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hannah's Geburtstag</title>
    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@500&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="birthday.css" />
  </head>
  <body>
    <div class="card">
      <div class="outside">
        <div class="front">
          <p>Alles gute zum Geburtstag!</p>
          <hr>
          <p class="small">Auf dem Handy zum öffnen lange gedrückt halten...</p>
          <h1>🥂🎈</h1>

        </div>
        <div class="back"></div>
      </div>
      <div class="inside">
        <p>Liebe Hannah,</p>
        <p>hoffentlich sieht das gerade alles so aus wie ich mir das vorgestellt habe - wenns nicht versucht nochmal auf einem Laptop statt auf dem Handy zu öffnen :S.
        </p>
        <p>Wenn du mich besuchen kommst, würde ich sehr gerne diese <a href="https://www.youtube.com/watch?v=c58fcTtpGNQ">urbane Schafsherde</a> mit dir besuchen. Schau mal wie süß die sind!
        </p>

        <p>
        Am Abend würde ich dich gerne zu einem <a href="https://guide.michelin.com/fr/fr/ile-de-france/paris/restaurant/jouvence">Abendessen in einem schicken pariser vegetarischen Restaurant</a> einladen.
        </p>

        <p>
            Ich freue mich ganz doll auf unser nächstes Wiederzusehen. OH GUCK MAL, ein SCHAF!
        </p>
        <h1>🐑</h1>

        <p>In Liebe, <br> dein TinTin
        </p>
        <h1>💕</h1>


      </div>
    </div>
  </body>
</html>
