<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hannah's Geburtstag</title>
    <!-- Google Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="birthday.css" />
  </head>
  <body>
    <div class="card">
      <div class="outside">
        <div class="front">
          <p>Alles gute zum Geburtstag!</p>
          <hr>
          <h1>🥂🎈</h1>
        </div>
        <div class="back"></div>
      </div>
      <div class="inside">
        <p>Liebe Hannah,</p>
        <p>Hoffentlich sieht das gerade alles so aus wie ich mir das vorgestellt habe - wenns nicht versucht nochmal auf einem Laptop statt auf dem Handy zu öffnen :S.
        </p>
        <p>Wenn du mich besuchen kommst, würde ich gerne diese <a href="https://www.youtube.com/watch?v=c58fcTtpGNQ">pariser urbane Schafsherde</a> mit dir besuchen.
        </p>
        <h1>🐑</h1>

        <p>
        Am Abend würde ich dich gerne zu einem <a href="https://guide.michelin.com/fr/fr/ile-de-france/paris/restaurant/jouvence">Abendessen in einem schicken Pariser vegetarischen Restaurant</a> einladen.
        </p>
        <h1>🧑‍🍳</h1>

        <p>
            Ich freue mich ganz doll auf unser nächstes Wiederzusehen.
        </p>
        <p>In Liebe, <br> dein TinTin
        </p>
      </div>
    </div>
  </body>
</html>
